@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


/*style página home*/
.logo {

    display: flex;
    justify-content: center;
    align-items: center;

}

.logo__image {
    width: 3rem;
}

.logo__texto {
    padding-top: 0.6rem;
    font-size: 1rem;
}

.nav {

    background-color: rgb(229, 176, 38);
    min-height: 10vh;


}

.hero {

    background-image: url(../img/hero6.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero__texto {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(55, 45, 44, 80%);

}

.hero__tituloPrincipal {

    font-size: 3rem;
    font-weight: 600;
    color: rgb(202, 196, 199);
    text-align: center;

}

.hero__parrafo {

    font-size: 2rem;
    font-weight: 400;
    color: rgb(202, 196, 199);
    text-align: center;

}

.footer__icons {

    display: flex;
    justify-content: space-between;


}

.footer__icons--color {
    color:rgb(132, 59, 98);
}

/*style página productos*/



.search__button {

    color: black;
    border: solid 1px black;

}

.backgroundColor {

    background-color: rgb(233, 227, 230);

}

.productos {

    width: 80vw;
    margin: auto;
    padding: 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}

.productos__tarjetita {

    width: 18.5em;
    height: auto;
    justify-self: center;
    display: flex;
    flex-direction: column;


}

.productos_image {

    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s;

}

.productos__info {

    padding: 1rem;
    background-color: rgb(229, 176, 38);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.productos__titulo {

    font-weight: 600;

}

.productos__parrafo {

    flex: 1;
    text-align: center;
    font-weight: 300;

}

.productos__masInfo {

    padding: 1rem;
    background-color: rgb(132, 59, 98);
    color: rgb(243, 255, 189);
    text-decoration: none;
}

.footer__productos__icon--color {

    color: rgb(255, 170, 90);

}



/*style página fábrica*/

.fabrica__background {

    background-color: rgb(54, 85, 143);

}


.fabrica {

    padding-top: 2rem;
    min-height: 90vh;
}

.fabrica__carousel {

    position: relative;
}

.fabrica__texto {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fabrica__tituloPrincipal {

    font-weight: 600;
    color: rgb(0, 15, 8);
}

.fabrica__parrafo {

    font-weight: 300;
    color: rgb(241, 242, 246);

}

.footer__fabricaIcon--color {
    color: rgb(54, 85, 143);

}

/*styles página nosotros*/

.nosotros__background {

    background-color: rgb(100, 149, 237);

}

.nosotros {

    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;

}

.nosotros__image1 {

    grid-column: 3/5;
    grid-row: 1/3;
    display: flex;
    align-items: center;
}

.nosotros__image2 {

    grid-column: 1/3;
    grid-row: 3/5;
    display: flex;
    align-items: center;

}

.nosotros__texto1 {

    grid-column: 1/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nosotros__texto2 {

    grid-column: 3/5;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nosotros__image {

    width: 100%;
    border: solid 2px rgb(178, 139, 132);
    transition: transform 0.5s ease;

}

.nosotros__parrafo {

    font-weight: 300;
    text-align: center;
    transition: color 0.5s ease;

}

.footer__nosotrosIcon--color {

    color: rgb(100, 149, 237);
}



/*styles página contacto*/



.contacto__background {

    background-color: rgb(34, 3, 31);
}

.contacto {

    padding-top: 1rem;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    gap: 1rem;
}

.contacto__imagen {

    grid-column: 1/3;
    grid-row: 2/2;
    background-color:rgb(8, 8, 8) ;
    background-image: url(../img/copaCerveza.jpg);
    background-repeat: no-repeat;
    background-position: center;
   

}

.contacto__mapa {

    grid-column: 3/5;
    grid-row: 2/2;


}

.contacto__tituloPrincipal {

    grid-column: 1/5;
    grid-row: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgb(236, 228, 183);

}

.contacto__info {

    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(236, 228, 183);

}

.contacto__telefono {

    list-style: none;

}

.contacto__form {

    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
    padding: 1.5rem;


}

.contacto__ingresar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 1rem;

}
.contacto__legend{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto__encuesta {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.contacto__novedades {

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.contacto__radio {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.contacto__options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contacto__comentario{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contacto__buttoms {

    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap:3rem;

}



.footer__contactoIcon--color {

    color: rgb(34, 3, 31);
}


/*pseudoclases */

.logo__texto:active {

    color: rgb(50, 50, 180);

}

.menu__item:hover {

    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/*hover pagina productos*/
.productos_image:hover {

    transform: scale(1.1);
   
}

.productos__masInfo:hover {

    background-color: rgb(243, 255, 189);
    color: rgb(88, 44, 77);

}

/*hover pagina nosotros*/
.nosotros__image:hover {

    
    transform: scale(0.95);

}

.nosotros__parrafo:hover {
    color: rgb(249, 219, 189);
   
    


}

/*hover pagina fabrica*/
.fabrica__carousel:hover::after {

    content: "Planta de Cerveza ArtesanalSF_Villa Gral. Belgrano";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 70%);
    color: rgb(255, 255, 255);
    padding: 10px;
    bottom: 0;
    right: 0.8rem;
    left: 0.8rem;


    font-size: 14px;
    z-index: 5;

}

/*hover pagina contacto*/
.contacto__tituloPrincipal:hover {

    color: rgb(127, 176, 105);

}



/*media query general*/
@media(max-width:767px) {

    .footer__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__icons {
        margin-top: 1rem;
        justify-content: center;
        gap: 1rem;
    }

}

/*media query index*/

@media(max-width:991px) {

    .hero__tituloPrincipal {

        font-size: 2.3rem;
        font-weight: 600;


    }




    .hero__parrafo {

        font-size: 1.8rem;
        font-weight: 400;

    }
}

@media(max-width:539px) {

    .hero__tituloPrincipal {

        font-size: 1.5rem;
        font-weight: 600;


    }




    .hero__parrafo {

        font-size: 1rem;
        font-weight: 400;

    }
}



/*media query pagina fabrica*/

@media(max-width:767px) {
    .fabrica__carousel {
        margin-top: 1rem;
    }
}

/*media query pagina productos*/
@media(max-width:972px) {
    .productos {

        grid-template-columns: 1fr 1fr;

    }

}



@media(max-width:650px) {

    .productos {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

}

/*media query pagina nosotros*/
@media(max-width:767px) {

    .nosotros {


        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nosotros__image1 {

        order: 1;

    }



    .nosotros__texto2 {

        order: 3;

    }

}

@media(max-width:767px) {

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }


}
@media(max-width:767px) {
    .contacto__mapa{
       width: 100%;
       height: 670.717px;
    }
}


/*media query hover*/
@media(max-width:991px) {
    .menu__item:hover {

        transform: none;
        box-shadow: none;

    }
}